<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^([0-9a-z\/_-]*[0-9a-z_-]+)\/?$ index.php?q=$1&%{QUERY_STRING} [NC]

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.+?)\/$ /$1?%{QUERY_STRING} [R=301,NC,L]

#RewriteRule (.*).html  index.php?q=$1&%{QUERY_STRING} [L]

</IfModule>