<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
        		<form method="post" action="/article/book/new" th:object="${articleForm}" data-abide="">
							<fieldset>
								<input th:field="*{name}" type="text" name="titleArticle" placeholder="Titel" />
								<input th:field="*{author}" type="text" name="authorArticle" placeholder="Autor" />
								<input th:field="*{publisher}" type="text" name="publisherArticle" placeholder="Verlag" />
								<input th:field="*{price}" type="text" name="priceArticle" placeholder="Preis" />
								<input th:field="*{beschreibung}" type="text" name="beschreibungArticle" placeholder="Beschreibung" />
								<input th:field="*{id}" type="text" name="idArticle" placeholder="ISBN" />
								<input type="text" name="categoryArticle" placeholder="Kategorie" />
								<input type="submit" value="Artikel hinzufügen" />
							</fieldset>
						</form>
	    	</div>
	    </div>
		</div>
	</body>
</html>
