<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 row">
	        	<h3>Neues Buch anlegen</h3>
        		<form method="post" action="/article/book/new" data-abide="">
							<fieldset>
								<div class="large-6 medium-6 small-12 columns">
									<label>Titel</label>
									<input type="text" name="titleArticle" placeholder="Titel" required="" />
									<small class="alert-box alert error">Bitte Titel eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label>Autor</label>
									<input type="text" name="authorArticle" placeholder="Autor" required="" />
									<small class="alert-box alert error">Bitte Autor eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label>Verlag</label>
									<input type="text" name="publisherArticle" placeholder="Verlag" required="" />
									<small class="alert-box alert error">Bitte Verlag eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label>ISBN</label>
									<input type="text" name="idArticle" placeholder="ISBN" required="" pattern="isbn13" />
									<small class="alert-box alert error">Bitte ISBN 13 ohne Trennstriche eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label>Preis</label>
									<input type="text" name="priceArticle" placeholder="Preis" required="" patter="custom_price" />
									<small class="alert-box alert error">Bitte neuen Preis im Format "EUR xx.xx" eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label>Kategorie</label>
									<input type="text" name="categoryArticle" placeholder="Kategorie" required="" />
									<small class="alert-box alert error">Bitte Kategorie eingeben.</small>
								</div>
								<div>
									<label>Beschreibung</label>
									<textarea id="descriptiontext" cols="40" rows="5"  name="beschreibungArticle" placeholder="Beschreibung" required=""></textarea>
									<small class="alert-box alert error">Bitte Beschreibung eingeben.</small>
								</div>
								<p></p>
								<div>
									<input class="small button" type="submit" value="Artikel hinzufügen" />
								</div>
							</fieldset>
						</form>
					</div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
