<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<!-- <header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header> -->
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 row">
	        	<h3>Lege eine neue DVD an:</h3>
        		<form method="post" action="/article/dvd/new" th:object="${articleForm}" data-abide="">
							<fieldset>
							
								<div th:if="${#fields.hasErrors('*')}">
										<p class="alert-box warning"><b>Einige Angaben sind nicht korrekt. Bitte versuchen Sie es erneut!</b></p>
								</div>
								<div class="row">
									<div class="large-6 medium-6 small-12 columns">
										<label for="name">Titel:</label>
										<input th:field="*{name}" th:errorclass="fieldError" type="text" name="titleArticle" placeholder="Titel" required="required" />
										<small class="alert-box alert error">Bitte Titel eingeben.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Der Vorname darf nicht leer sein.</small>
									</div>
									<div class="large-6 medium-6 small-12 columns">
										<label for="artist">Regisseur:</label>
										<input th:field="*{artist}" th:errorclass="fieldError" type="text" name="authorArticle" placeholder="Regisseur" required="required" />
										<small class="alert-box alert error">Bitte Autor eingeben.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}">Der Vorname darf nicht leer sein.</small>
									</div>
								</div>
								<div class="row">
									<div class="large-6 medium-6 small-12 columns">
										<label for="publisher">Verlag:</label>
										<input th:field="*{publisher}" th:errorclass="fieldError" type="text" name="publisherArticle" placeholder="Verlag" required="required" />
										<small class="alert-box alert error">Bitte Verlag eingeben.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Der Vorname darf nicht leer sein.</small>
									</div>
									<div class="large-6 medium-6 small-12 columns">
										<label for="id">EAN:</label>
										<input th:field="*{id}" th:errorclass="fieldError" type="text" name="idArticle" placeholder="EAN" required="required" pattern="isbn13" />
										<small class="alert-box alert error">Bitte ISBN 13 ohne Trennstriche eingeben.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Der Vorname darf nicht leer sein.</small>
									</div>
								</div>
								<div class="row">
									<div class="large-6 medium-6 small-12 columns">
										<label for="price">Preis:</label>
										<input th:errorclass="fieldError" type="text" name="price" placeholder="Preis" required="required" pattern="custom_price" />
										<small class="alert-box alert error">Bitte neuen Preis im Format "xx.xx" eingeben.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Der Vorname darf nicht leer sein.</small>
									</div>
									<div class="large-6 medium-6 small-12 columns">
										<label for="price">Einkaufspreis:</label>
										<input th:errorclass="fieldError" type="text" name="stockPrice" placeholder="Preis" required="required" pattern="custom_price" />
										<small class="alert-box alert error">Bitte neuen Preis im Format "xx.xx" eingeben.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('stockPrice')}" th:errors="*{stockPrice}">Der Vorname darf nicht leer sein.</small>
									</div>
								</div>
								<div class="row">
									<div class="large-6 medium-6 small-12 columns">
										<label for="releaseDate">Erscheinungsdatum</label>
										<input th:field="*{releaseDate}" th:errorclass="fieldError" type="text" name="releaseDate" placeholder="Datum" required="required"  pattern="custom_date" id="datepicker" />
										<small class="alert-box alert error">Datum muss Form dd.mm.yyyy entsprechen.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">Der Vorname darf nicht leer sein.</small>
									</div>								
									<div class="large-6 medium-6 small-12 columns">
									<label for="newcategory">Neue Kategorie:</label>
									<select name="newcategory"  required="required">
										<option th:each="category : ${categories}" th:text="${category.categoryName}" th:value="${category.categoryName}" value="1">category</option>
									</select>
									</div>
								</div>
								<div class="row">
									<div class="large-6 medium-6 small-12 columns">								
										<label for="image">Bild:</label>
										<input th:errorclass="fieldError" type="text" id="newimage" name="image" value="no-cover.jpg" placeholder="Image" pattern="image" required="required" />
										<small class="alert-box alert error">Bitte validen Dateinamen eingeben, welcher der Form xx.jpg, xx.png, xx.gif, xx.jpeg entspricht.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">Das Bild darf nicht leer sein.</small>
									</div>
								</div>
								<div class="row">
									<div class="small-12 columns">
										<label for="beschreibung">Beschreibung:</label>
										<textarea  th:field="*{beschreibung}" th:errorclass="fieldError" id="descriptiontext" cols="40" rows="5"  name="beschreibungArticle" placeholder="Beschreibung" required="required"></textarea>
										<small class="alert-box alert error">Bitte Beschreibung eingeben.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}">Der Vorname darf nicht leer sein.</small>
									</div>
								</div>
								<div class="row">
									<div class="small-12 columns">
										<input class="small button" type="submit" value="Artikel hinzufügen" />
									</div>
								</div>
							</fieldset>
						</form>
					</div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
