<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 row">
	          <h3>Event hinzufügen</h3>
	          <form method="post" action="/admin/event/new" data-abide="">
	          	<div class="large-6 medium-6 small-12 columns">
	          		<label>Datum:*</label>
	            	<input type="text" name="dated" required="" pattern="custom_eventdate" id="datepicker"/>
								<small class="alert-box alert error">Datum muss Form ddmmyyyy entsprechen.</small>
		          </div>
		          <div class="large-6 medium-6 small-12 columns">
		          	<label>Uhrzeit:*</label>
		            <input type="text" name="datet" required="" pattern="custom_time"/>
								<small class="alert-box alert error">Zeit muss Form hhmm entsprechen.</small>
		          </div>
		          <div class="large-6 medium-6 small-12 columns">
		          	<label>Veranstaltungsname:</label>
		            <input type="text" name="name" required=""/>
								<small class="alert-box alert error">Veranstaltungsname darf nicht leer sein.</small>
		          </div>
		          <div class="large-6 medium-6 small-12 columns">
		          	<label>Raum:*</label>
		            <select required="" name="selectedRoom">
		            	<option th:each="room : ${roomList}" value="Empty" th:value="${room.getName()}" th:text="${room.getName()}">Empty</option>
		            </select>
		          </div>
		          <div class="large-12 medium-12 small-12">
	            	<input class="small round button" type="submit" name="add" value="Event hinzufügen"/>
	            </div>
		        </form>
		        <small>*ACHTUNG: Es ist nur ein Event pro Raum und Zeit erlaubt!</small>
		        
		        <table class="large-12 medium-12 small-12 calendar" >
			        	<thead class="panel">
			          	<tr>
			            	<th class="small-2">Datum</th>
			              <th class="small-1">Zeit</th>
			             	<th class="small-6">Event</th>
			             	<th class="small-1">Raumnummer</th>
			             	<th class="small-2">Raum</th>
			             	<th class="small-3">Loeschen</th>
			            </tr>
			          </thead>
			          <tbody th:remove="all-but-first">
			          	<tr th:each="event : ${allEvents}">
			            	<td th:text="${event.getDate().getEventDate()}"></td>
			            	<td th:text="${event.getDate().getEventTime()}">0000</td>
			              	<td th:text="${event.getName()}">Testtext</td>
			              	<td th:text="${event.getRoom().getNumber()}">Testtext</td>
			              	<td th:text="${event.getRoom().getName()}">Testtext</td>
			              	<td>
				              <form action="/admin/event/remove" method="post">
				              <input type="hidden" name="name" th:value="${event.getName()}"/>
				              <input type="submit"  value="Loeschen" />
				              </form>
			              </td>
			            </tr>
			          </tbody>
			        </table>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
