<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="head :: head"></head>
<body>
	<div class="off-canvas-wrap" data-offcanvas="">
		<div class="fixed" th:include="topbar :: topbar"></div>
		<div class="inner-wrap">
			<aside class="left-off-canvas-menu" aria-hidden="true">
				<nav th:include="navigation :: navigation"></nav>
			</aside>
			<div class="main-content">
				<!-- <header
					class="large-12 medium-12 show-for-landscape show-for-medium-up">
					<div class="panel">
						<div class="header-slider row" th:include="slider :: slider"></div>
					</div>
				</header> -->
				<div class="large-12">&nbsp;</div>
				<div class="large-12 medium-12 small-12 columns">

					<div class="large-12 medium-12 small-12 row">
						<h3>Raum hinzufügen</h3>
						<form class="row" method="post" action="/admin/room/new" data-abide="">
							<div class="row">
								<div class="large-6 medium-6 small-12 columns">
									<label>Name:*</label>
									<input type="text" name="rName" required="" />
									<small class="alert-box alert error">Name darf nicht leer sein.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">			
									<label>Nummer:*</label>				
									<input type="text" name="rNum" required="" />
									<small class="alert-box alert error">Nummer darf nicht leer sein.</small>
								</div>
							</div>
							<div class="row">
								<div class="large-6 medium-6 small-12 columns">
									<label>Anzahl der Stühle:</label>
									<input type="number" name="rChairs" min="1" value="1" required="" />
									<small class="alert-box alert error">Anzahl der Stühle darf nicht leer sein.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">							
									<input class="small round button" type="submit" value="Raum hinzufügen" />
								</div>
							</div>
						</form>
						<small>*ACHTUNG: Raumname und Raumnummer dürfen nicht doppelt vergeben werden!</small>
						<br />
						<h3>Aktuelle Räume</h3>
						<table class="large-12 medium-12 small-12">
							<thead>
								<tr>
									<th class="large-4">Raumname</th>
									<th class="large-4">Raumnummer</th>
									<th class="large-4">Stuhlanzahl</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="room : ${roomList}">
									<td th:text="${room.getName()}">0000</td>
									<td th:text="${room.getNumber()}">Testtext</td>
									<td th:text="${room.getChairNum()}">Stuhlanzalh</td>
								</tr>
							</tbody>
						</table>
						<form class="row" method="post" action="/admin/room/remove" data-abide="">
						<select required="" name="deleteRoom">
						<option th:each="room : ${roomList}" value="Empty" th:value="${room.getName()}" th:text="${room.getName()}">Empty</option>
						</select>
						<div class="large-6 medium-6 small-12 columns">							
						<input class="small round button" type="submit" value="Raum entfernen" />
						</div>
		            </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
