<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="panel row full-width">
				    <div th:each="book : ${catalog}" class="large-2 medium-4 small-12 columns article-box">
	          	<div class="large-centered">
	          		<h6 class="article-head">
	          			<a th:text="${book.name}" th:href="@{'/detail/' + ${book.identifier}}" href="detail.html">Bastard Operator from Hell</a>
	          			<br />
	          			<small th:text="${book.author}">Simon Travaglia</small>
	          		</h6>
	          		<img alt="cover" class="cover" src="/resources/img/notAvaliableBook.jpg" />
		          	<form action="/cart" method="POST">
									<input type="hidden" name="article" value="0" th:value="${book.identifier}" />
									<label class="right" th:text="${book.price}">0,99€</label>
									<br />
									<div class="row collapse postfix-round">
										<div class="large-4 medium-4 small-4 columns">
											<input id="number" type="number" name="number" step="1" value="1"/>										
										</div>
										<div class="large-8 medium-8 small-8 columns">
											<input class="tiny round button postfix" type="submit" value="In den Warenkorb"/>
										</div>
									</div>
								</form>
							</div>
          	</div>
				  </div>
		    </div>
			</div>
	</body>
</html>