<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/resources/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/slick.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/include/misc/php-calendar/css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
    
    <script type="text/javascript" src="/ressources/js/vendor/modernizr.js"></script>
		<title th:text="#{calendar.title}">Kalender</title>
	</head>
    <body>
        
        <form method="post" action="/addEvent">
            <input type="text" name="dated"/>
            <input type="text" name="datet"/>
            <input type="text" name="name"/>
            <input type="submit" name="add" value="Event hinzufuegen"/>
        </form>
        <table>
            <thead >
                <tr>
                    <th >Datum</th>
                    <th >Zeit</th>
                    <th >Event</th>
                </tr>
            </thead>
            <tbody th:remove="all-but-first">
                <tr th:each="event : ${eventList}">
                    <td th:text="${event.getDate().getEventDate()}">10112014</td>
                    <td th:text="${event.getDate().getEventTime()}">0000</td>
                    <td th:text="${event.getName()}">Testtext</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>