<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
		        <div class="large-12 medium-12 small-12 row">
		          <h2>Kalender</h2>
			        <table class="large-12 medium-12 small-12 calendar" sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EVENTMANAGER')" >
			        	<thead class="panel">
			          	<tr>
			            	<th class="small-2">Datum</th>
			                <th class="small-1">Start</th>
			                <th class="small-2">Ende</th>
			             	<th class="small-3">Event</th>
			             	<th class="small-1">Raumnummer</th>
			             	<th class="small-2">Raum</th>
			             	<th class="small-1">Belegte Sitze</th>
			             	<th class="small-1" sec:authorize="hasRole('ROLE_CUSTOMER')">Buchen(5 Euro pro Platz)</th>
			            </tr>
			          </thead>
			          <tbody th:remove="all-but-first">
			          	<tr th:each="event : ${eventList}">
			            	<td th:text="${event.getStartDate().getEventDate()}"></td>
			              <td th:text="${event.getStartDate().getEventTime()}">0000</td>
			              <td th:text="${event.getEndDate().getEventTime()}">0000</td>
			              <td th:text="${event.getName()}">Testtext</td>
			              <td th:text="${event.getRoom().getNumber()}">Testtext</td>
			              <td th:text="${event.getRoom().getName()}">Testtext</td>
			              <td th:text="${event.getTakenSeats()} +'/'+${event.getRoom().getChairNum()}"></td>
			              <td sec:authorize="hasRole('ROLE_CUSTOMER')">
			             	 <form action="/calendar/bookSeat" method="post">
			             		<input type="hidden" name="eventRoomName" th:value="${event.getRoom().getName()}"/>
			            		 <input type="hidden" name="dateD" th:value="${event.getStartDateD()}"/>
			            		 <input type="hidden" name="dateT" th:value="${event.getStartDateT()}"/>
			            		 <input type="hidden" name="eventID" th:value="${event.getID()}"/> 
			            		 <input id="number" type="number" name="number" min="1" placeholder="Anzahl" />
			            		 <input class="small button" type="submit" value="Buchen" />
			            	  </form>
			              </td>
			            </tr>
			          </tbody>
			        </table>
			        
			        <table class="large-12 medium-12 small-12 calendar" sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EVENTMANAGER')" >
			        	<thead class="panel">
			          	<tr>
			            	<th class="small-2">Datum</th>
			              <th class="small-1">Zeit</th>
			             	<th class="small-3">Event</th>
			             	<th class="small-1">Raumnummer</th>
			             	<th class="small-2">Raum</th>
			             	<th class="small-1">Belegte Sitze</th>
			             	<th class="small-2"></th>
			            </tr>
			          </thead>
			          <tbody th:remove="all-but-first">
			          	<tr th:each="event : ${allEvents}">
			            <td th:text="${event.getStartDate().getEventDate()}"></td>
			              <td th:text="${event.getStartDate().getEventTime()}">0000</td>
			              <td th:text="${event.getName()}">Testtext</td>
			              <td th:text="${event.getRoom().getNumber()}">Testtext</td>
			              <td th:text="${event.getRoom().getName()}">Testtext</td>
			              <td th:text="${event.getTakenSeats()} +'/'+${event.getRoom().getChairNum()}"></td>
			              <td>
			             	 <form action="/calendar/reservations" method="post">
			             			<input type="hidden" name="eventRoomName" th:value="${event.getRoom().getName()}"/>
			             			<input type="hidden" name="eventID" th:value="${event.getID()}"/>
			            		  <input class="tiny button" type="submit" value="Reservierungen" />
			            	  </form>
			              </td>
			            </tr>
			          </tbody>
			        </table>
		        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
