<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	        	<div sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_ADMIN')" th:include="articletabs :: articletabs"></div>
	          <div class="large-3 columns">
  						<img alt="cover" class="detail cover" th:src="@{'/resources/img/' + ${article.image}}" />
						</div>
						<div class="large-9 medium-9 small-9 columns">
							<ul class="pricing-table">
					      <li class="title">
					      	<span th:text="${article.name}">Last Action Hero</span>
					      </li>
					      <li class="description large-6 medium-6 small-12 columns">
					      	<label>Artist:</label>
					      	<span th:text="${article.artist}">Simon Travaglia</span>
					      </li>
					      <li class="description large-6 medium-6 small-12 columns">
					      	<label>Publisher:</label>
					      	<span th:text="${article.publisher}">Verlag</span>
					      </li>
					      <li class="description large-6 medium-6 small-12 columns">
				      		<label>Artikel-Nr.:</label>
				      		<span th:text="${article.id}">ISBN</span>
					      </li>
					      <li class="description large-6 medium-6 small-12 columns">
					      	<label>Kategorie:</label>
					      	<span th:text="${article.getCategoryList()}">Kategorie</span>
					      </li>
					      <li class="description large-6 medium-6 small-12 columns">
						      <label>Auf Lager:</label>
						      <span th:text="${quantity.amount}">0</span>
					      </li>
					      <li class="price large-6 medium-6 small-12 columns">
						      <label>Preis:</label>
						      <span th:text="${article.price.amount}">9.99</span> <i class="fi-euro"></i>
					      </li>
					      <li class="cta-button">
					      	<form action="/cart" method="POST">
					      		<div class="row collapse postfix-round">
											<input type="hidden" name="article" value="0" th:value="${article.identifier}"/>
											<div class="small-9 columns">
												<input id="number" type="number" name="number" min="0" placeholder="Anzahl" />
											</div>
											<div class="small-3 columns">
												<input class="button postfix" type="submit" value="Zum Warenkorb hinzufügen"/>
											</div>
										</div>
									</form>
					      </li>
					    </ul>
					  </div>
					  </div>
						<div class="large-10 medium-10 large-offset-1 medium-offset-1 small-12">
				      <h4>Beschreibung:</h4>
				      <p th:text="${article.beschreibung}">Simon Travaglia</p>
						</div>
	        </div>
	    	</div>
	    </div>
	</body>
</html>
