<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/resources/css/foundation.css" />
	  <link rel="stylesheet" type="text/css" href="/resources/css/normalize.css" />
	  <link rel="stylesheet" type="text/css" href="/resources/css/slick.css" />
	  <!-- <link rel="stylesheet" type="text/css" href="/include/misc/php-calendar/css/style.css" /> -->
	  <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
    
    <script type="text/javascript" src="/resources/js/vendor/modernizr.js"></script>
		
		<title th:text="#{home.title}">Bücher | Buchhandlung Schiller</title>
	
	</head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        	        		<form method="post" action="/searcharticles">
								<fieldset>
									<input type="text" name="input" />
									<select name="typeInput">
									<option value="1">Titel</option>
									<option value="2">Verlag</option>
									<option value="3">ID</option>
									<option value="4">Autor</option>
									<option value="7">Kategorie</option>
									</select>
									<input type="submit" value="Search!" />
								</fieldset>
							</form>
          <div class="panel row full-width">
				    <div class="large-2 columns">
				      Cover
				    </div>
				    <div class="large-6 columns">
				      Buchinfos
				    </div>
				    <div class="large-2 columns">
				      Preis
				    </div>
				    <div class="large-2 columns">
				      Schnelllinks
				    </div>
					</div>
				  <div th:each="book : ${catalog}" class="row full-width">
				  	<div class="large-2 columns">
					    <a class="th" href="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg">
					      <img alt="cover" class="cover" th:src="@{'/resources/img/' + ${book.image}}" />
					    </a>
				    </div>
				    <div class="large-5 columns">
					    <h3>
					    	<a th:text="${book.name}" th:href="@{'/detail/' + ${book.identifier}}" href="detail.html">Bastard Operator from Hell</a>
					    </h3>
					    <p th:text="${book.publisher}">Simon Travaglia</p>
					    <p th:text="${book.id}">666-6666666666</p>
				    </div>
				    <div class="large-2 columns">
				    	<p th:text="${book.price}">6.66€</p>
				    	<p th:text="${book.author}">Autor</p>
				    </div>
				    <div class="large-3 columns">
							<form action="/cart" method="POST">
								<input type="hidden" name="article" value="0" th:value="${book.identifier}"/>
								<input id="number" type="number" name="number" step="1" value="1"/>
								<input class="button small" type="submit" value="In den Warenkorb"/>
							</form>
				    </div>
				  </div>
				  	        <div class="large-12">&nbsp;</div>
				  
				  		<div class="salespoint" sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_ADMIN')">
				  	<div class="large-3 columns">
								<a href="adddvd.html"><input class="button small" type="submit" value="Add Article"/></a>
				    </div>

						</div>
		    </div>
			</div>
		</div>

		<script type="text/javascript" src="/resources/js/vendor/jquery.js"></script>
		<script type="text/javascript" src="/resources/js/vendor/fastclick.js"></script>
		<script type="text/javascript" src="/resources/js/foundation.min.js"></script>
		<script type="text/javascript" src="/resources/js/vendor/slick.min.js"></script>
		<script type="text/javascript">
			$(document).foundation(
			{
			accordion: {
			content_class: 'content',
			active_class: 'active',
			toggleable: true
			}
			}
			);
		</script>
		<script type="text/javascript">
			$(document).ready(function(){
			$('.header-slider').slick({
			dots: true,
			infinite: true,
			lazyLoad: 'ondemand',
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 3000,
			});
			});
		</script>
	</body>
</html>
