<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 row">
	        	<h3>Bearbeite Kategorien:</h3>
						<div class="small-12 row">
							<div class="large-4 medium-4 small-12 columns">
								<label>Kategorien für Bücher:</label>
								<ul>
									<li th:each="category : ${categoriesbook}" th:text="${category.categoryName}"></li>
								</ul>
							</div>
							<div class="large-4 medium-4 small-12 columns">
								<label>Kategorien für CD's:</label>
								<ul>
									<li th:each="category : ${categoriescd}" th:text="${category.categoryName}"></li>
								</ul>
							</div>
							<div class="large-4 medium-4 small-12 columns">
								<label>Kategorien für DVD's:</label>
								<ul>
									<li th:each="category : ${categoriesdvd}" th:text="${category.categoryName}"></li>
								</ul>
							</div>
						</div>
						<form method="POST" action="/editcategories/add" th:object="${categoriesform}" data-abide="">
						
							<div th:if="${#fields.hasErrors('*')}">
										<p class="alert-box warning"><b>Einige Angaben sind nicht korrekt. Bitte versuchen Sie es erneut!</b></p>
							</div>
						
							<div>
							<label>Kategorie hinzufügen</label>
								<input th:field="*{category}" th:errorclass="fieldError" type="text" id="newcategory" name="newcategory" placeholder="Kategorie" required="" />
								<small class="alert-box alert error">Bitte den Namen der Kategorie eingeben.</small>
								<small class="alert-box alert" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Der Vorname darf nicht leer sein.</small>
								
								<select th:field="*{type}" th:errorclass="fieldError" id="type" name="type" required="">
									<option value="Buch">Buch</option>
									<option value="CD">CD</option>
									<option value="DVD">DVD</option>
								</select>								
								
								<small class="alert-box alert" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Der Vorname darf nicht leer sein.</small>
							</div>
							
							<input class="small button" type="submit" value="Speichern" />
								 
						</form>	
						
						<form method="POST" action="/editcategories/delete" data-abide="">				
							<div>
								<label>Kategorie entfernen</label>
								<select name="categorytodelete" required="">
									<option value="1">Keine</option>
									<option th:each="category : ${categories}" th:text="${category.categoryName}" th:value="${category.categoryName}" value="2">category</option>
								</select>	
								<small class="alert-box alert error">Bitte neue Kategorie auswählen.</small>
							</div>
								 <input class="small button" type="submit" value="Entfernen" />
						</form>
						<!--<form method="POST" action="/editcategories/edit" data-abide="">
							<div>
								<label>Kategorie bearbeiten</label>
								<select name="oldcategory" required="">
									<option th:each="category : ${categories}" th:text="${category.categoryName}" th:value="${category.id}" value="2">category</option>	
								</select>	
								
								<label>Änderung</label>
								<input type="text" name="editcategory" placeholder="Kategorie" required="" />
								<small class="alert-box alert error">Bitte Namen eingeben.</small>
							</div>
								 <input class="small button" type="submit" value="Ändern" />
						</form>-->
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
