<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	        	<div th:include="profiletabs :: profiletabs"></div>
	          <div class="row">
	          	<form method="post" th:action="@{'/user/profile/' + ${user.userAccount.identifier}} + '/change/edit'" th:object="${profileForm}" data-abide="">
								<fieldset class="large-4 medium-4 large-offset-1 medium-offset-1 small-12 columns">
									<legend th:text="#{register.title2}">Persönliche Daten</legend>
									
									<div th:if="${#fields.hasErrors('*')}">
										<p class="alert-box warning"><b>Einige Angaben sind nicht korrekt. Bitte versuchen Sie es erneut!</b></p>
									</div>
									
									<div>
										<label th:text="#{register.firstname}" for="firstname">Vorname</label>
										<input id="firstname" th:errorclass="fieldError" type="text" name="firstname" th:value="${user.userAccount.firstname}" required="" />
										<small class="alert-box alert error">Der Vorname darf nicht leer sein.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Der Vorname darf nicht leer sein.</small>
									</div>
									
									<div>
										<label th:text="#{register.lastname}" for="lastname">Nachname</label>
										<input id="lastname" th:errorclass="fieldError" type="text" name="lastname" th:value="${user.userAccount.lastname}" required="" />
										<small class="alert-box alert error">Der Nachname darf nicht leer sein.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Der Nachname darf nicht leer sein.</small>
									</div>
									
									<div>
										<label th:text="#{register.street}" for="street">Straße</label>
										<input id="street" th:errorclass="fieldError" type="text" name="street" th:value="${user.address.street}" required="" />
										<small class="alert-box alert error">Die Straße darf nicht leer sein.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Die Straße darf nicht leer sein.</small>
									</div>
									
									<div>
										<label th:text="#{register.streetnumber}" for="streetnumber">Hausnummer</label>
										<input id="streetnumber" th:errorclass="fieldError" type="text" name="streetnumber" th:value="${user.address.streetnumber}" required="" />
										<small class="alert-box alert error">Die Hausnummer darf nicht leer sein.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('streetnumber')}" th:errors="*{streetnumber}">Die Hausnummer darf nicht leer sein.</small>
									</div>
									
									<div>
										<label th:text="#{register.plz}" for="plz">PLZ</label>
										<input id="plz" th:errorclass="fieldError" type="text" name="plz" th:value="${user.address.plz}" required="" pattern="plz" />
										<small class="alert-box alert error">Bitte geben sie eine valide Postleitzahl ein.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('plz')}" th:errors="*{plz}">Die PLZ darf nicht leer sein.</small>
									</div>
									
									<div>
										<label th:text="#{register.city}" for="city">Ort</label>
										<input id="town" th:errorclass="fieldError" type="text" name="city" th:value="${user.address.city}" required="" />
										<small class="alert-box alert error">Der Ort darf nicht leer sein.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Der Ort darf nicht leer sein.</small>
									</div>
								
								</fieldset>
								<fieldset class="large-4 medium-4 large-offset-1 medium-offset-1 small-12 columns">
									<legend th:text="#{register.title1}">Benutzerdaten</legend>
									
									<div th:if="${#fields.hasErrors('*')}">
										<p class="alert-box warning"><b>Einige Angaben sind nicht korrekt. Bitte versuchen Sie es erneut!</b></p>
									</div>
									<div th:if="${#fields.hasErrors('global')}">
										<p class="alert-box alert" th:errors="*{global}"></p>
									</div>
									
									<div>
										<label th:text="#{register.email}" for="email">E-Mail</label>
										<input id="email" th:errorclass="fieldError" type="email" name="email" th:value="${user.userAccount.email}" required="" />
										<small class="alert-box alert error">Bitte geben sie eine valide Email ein.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Die E-Mail-Adresse darf nicht leer sein.</small>
									</div>
									
									<div>
										<label th:text="#{editprofile.oldPassword}" for="password">Passwort</label>
										<input id="oldPassword" th:field="*{oldPassword}" th:errorclass="fieldError" type="password" name="oldPassword" required="" />
										<small class="alert-box alert error">Das alte Passwort darf nicht leer sein.</small>
									</div>
									
									<div>
										<label th:text="#{editprofile.password}" for="password">Passwort</label>
										<input id="password" th:field="*{password}" th:errorclass="fieldError" type="password" name="password" th:value="${user.userAccount.password}" required="" pattern="custom_password" />
										<small class="alert-box alert error">Das neue Passwort muss zwischen 8 und 32 Zeichen lang sein und mindestens einen Großbuchstaben, einen Kleinbuchstaben, eine Zahl und ein Sonderzeichen enthalten.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Das neue Passwort darf nicht leer sein.</small>
									</div>
									
									<div>
										<label th:text="#{editprofile.passwordRepeat}" for="passwordRepeat">Passwort</label>
										<input id="passwordRepeat" th:field="*{passwordRepeat}" th:errorclass="fieldError" type="password" name="passwordRepeat" th:value="${user.userAccount.password}" required="" data-equalto="password" />
										<small class="alert-box alert error">Passwörter nicht identisch.</small>
										<small class="alert-box alert" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}">Passwörter nicht identisch.</small>
									</div>
									
									<small>*ACHTUNG: Wenn Sie Ihr Passwort nicht ändern wollen, dann geben sie bitte dreimal Ihr altes Passwort ein!</small>
								
								</fieldset>
								<input class="button round large-offset-1 medium-offset-1" type="submit" value="Neue Profildaten speichern" /> 
							</form>
	          </div>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
