<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 row">
	        	<h3>Edit <span th:text="${article.name}"></span></h3>
	        	<div sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_ADMIN')" th:include="articletabs :: articletabs"></div>
	        	<form class="row" method="POST" action="/article/editinformation" th:object="${editArticleForm}" data-abide="">
	        		<fieldset>
								<input type="hidden" name="article" th:value="${article.identifier}" />
								
								<div th:if="${#fields.hasErrors('*')}">
									<p class="alert-box warning"><b>Einige Angaben sind nicht korrekt. Bitte versuchen Sie es erneut!</b></p>
								</div>
								
								<div class="large-6 medium-6 small-12 columns">
									<label for="name">Titel</label>
									<input th:errorclass="fieldError" type="text" id="newame" name="name" th:value="${article.name}" required="" />
									<small class="alert-box alert error">Bitte Titel eingeben.</small>
									<small class="alert-box alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Bitte Titel eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label for="artist">Autor</label>
									<input th:errorclass="fieldError" type="text" id="newauthor" name="artist" th:value="${article.artist}" required="" />
									<small class="alert-box alert error">Bitte Künstler eingeben.</small>
									<small class="alert-box alert" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}">Bitte Künstler eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label for="publisher">Verlag</label>
									<input th:errorclass="fieldError" type="text" id="newpublisher" name="publisher" th:value="${article.publisher}" required="" />
									<small class="alert-box alert error">Bitte Verlag eingeben.</small>
									<small class="alert-box alert" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Bitte Verlag eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label for="id">ISBN</label>
									<input th:errorclass="fieldError" type="text" id="newisbn" name="id" th:value="${article.id}" required="" pattern="isbn13" />
									<small class="alert-box alert error">Bitte ISBN 13 ohne Trennstriche eingeben.</small>
									<small class="alert-box alert" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Bitte ISBN 13 ohne Trennstriche eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">					
									<label for="image">Bild</label>
									<input th:errorclass="fieldError" type="text" id="newimage" name="image" th:value="${article.image}" required="" />
									<small class="alert-box alert error">Bitte Dateinamen eingeben.</small>
									<small class="alert-box alert" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">Bitte Dateinamen eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label for="price">Preis</label>
									<input th:errorclass="fieldError" type="text" id="newprice" name="price" th:value="${article.price.amount}" required="" />
									<small class="alert-box alert error">Bitte neuen Preis eingeben.</small>
									<small class="alert-box alert" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Bitte neuen Preis eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label for="price">Einkaufspreis</label>
									<input th:errorclass="fieldError" type="text" name="stockPrice" th:value="${article.stockPrice.amount}" required="" />
									<small class="alert-box alert error">Bitte neuen Preis im Format xx.xx eingeben.</small>
									<small class="alert-box alert" th:if="${#fields.hasErrors('stockPrice')}" th:errors="*{stockPrice}">Bitte neuen Preis im Format xx.xx eingeben.</small>
								</div>
								<div class="large-6 medium-6 small-12 columns">
									<label for="releaseDate">Erscheinungsdatum</label>
									<input th:errorclass="fieldError" type="text" name="releaseDate" th:value="${article.releaseDate}" required="" pattern="custom_date" id="datepicker" />
									<small class="alert-box alert error">Datum muss Form dd.mm.yyyy entsprechen.</small>
									<small class="alert-box alert" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">Datum muss Form dd.mm.yyyy entsprechen.</small>
								</div>
								<div class="large-3 medium-3 small-6 columns">
									<label for="newcategory">Neue Kategorie</label>
									<select name="newcategory"  required="">
										<option value="1">Keine</option>
										<option th:each="category : ${addable}" th:text="${category.categoryName}" th:value="${category.categoryName}" value="1">category</option>
									</select>
									<small class="alert-box alert error">Bitte neue Kategorie auswählen.</small>
								</div>
								<div class="large-12 medium-12 small-12 columns">
									<label for="beschreibung">Beschreibung</label>
									<textarea th:errorclass="fieldError" id="descriptiontext" name="beschreibung" cols="40" rows="5" th:text="${article.beschreibung}" required=""></textarea>
									<small class="alert-box alert error">Bitte Beschreibung eingeben.</small>
									<small class="alert-box alert" th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}">Der Vorname darf nicht leer sein.</small>
								</div>
								<p></p>
								<div class="large-12 medium-12 small-12">
		        			<input class="small button" type="submit" value="Speichern" />
		        		</div>
		        	</fieldset>
	        	</form>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
