<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	          <h3>Angestelltenübersicht</h3>
	          <table class="large-12 medium-12 small-12">
							<thead>
								<tr>
									<th th:text="#{employees.username}">Nutzername</th>
									<th th:text="#{employees.firstname}">Vorname</th>
									<th th:text="#{employees.lastname}">Nachname</th>
									<th th:text="#{employees.address}">Anschrift</th>
									<th th:text="#{employees.email}">E-Mail</th>
									<th th:text="#{employees.role}">Rolle</th>
									<th th:text="#{employees.state}">Status</th>
								</tr>
							</thead>
							<tbody th:remove="all-but-first">
								<tr th:each=" employees : ${employeeList}">
									<td><a th:text="${employees.userAccount.identifier}" th:href="@{'/user/profile/' + ${employees.userAccount.identifier}}" href="profile.html">PowerPaul</a></td>
									<td th:text="${employees.userAccount.firstname}">Power</td>
									<td th:text="${employees.userAccount.lastname}">Paul</td>
									<td th:text="${employees.address}">Standardadresse</td>
									<td th:text="${employees.userAccount.email}">PowerPaul@e-mail.de</td>
									<td th:text="${employees.roles}">Standardrolle</td>
									<td th:text="${employees.state}">UNKNOWN</td>
								</tr>										
							</tbody>
						</table>
						<div class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
							<form action="/admin/user/add" method="POST">
								<input class="button round" type="submit" th:value="#{register.user}" value="Registrieren" />
							</form>
						</div>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
