<html>
<head th:fragment="head" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
  <link rel="stylesheet" type="text/css" href="/resources/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/resources/css/slick.css" />
	<link rel="stylesheet" type="text/css" href="/resources/css/foundation.css" />
  <link rel="stylesheet" type="text/css" href="/resources/css/foundation-icons/foundation-icons.css" />
	<link rel="stylesheet" type="text/css" href="/resources/css/foundation.datepicker.css" />
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
   
  <script type="text/javascript" src="/resources/js/vendor/modernizr.js"></script>
  <script type="text/javascript" src="/resources/js/vendor/jquery.js"></script>
	<script type="text/javascript" src="/resources/js/vendor/fastclick.js"></script>
	<script type="text/javascript" src="/resources/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/resources/js/vendor/slick.min.js"></script>
	<script type="text/javascript" src="/resources/js/foundation/foundation.datepicker.js"></script>
	<script type="text/javascript" src="/resources/js/foundation.min.js"></script>
	<script type="text/javascript" src="/resources/js/script.js"></script>
	
	
	<title th:text="#{home.title}">Buchhandlung Schiller</title>

</head>
<body>
</body>
</html>