<html>
<head th:fragment="head">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/resources/css/foundation.css" />
  <link rel="stylesheet" type="text/css" href="/resources/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/resources/css/slick.css" />
  <!-- <link rel="stylesheet" type="text/css" href="/include/misc/php-calendar/css/style.css" /> -->
  <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
   
  <script type="text/javascript" src="/resources/js/vendor/modernizr.js"></script>
  <script type="text/javascript" src="/resources/js/vendor/jquery.js"></script>
	<script type="text/javascript" src="/resources/js/vendor/fastclick.js"></script>
	<script type="text/javascript" src="/resources/js/foundation.min.js"></script>
	<script type="text/javascript" src="/resources/js/vendor/slick.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(document).foundation({});
			$('.header-slider').slick({
				dots: true,
				infinite: true,
				lazyLoad: 'ondemand',
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 10000,
			});
		});
	</script>
	
	<title th:text="#{home.title}">Buchhandlung Schiller</title>

</head>
<body>
	&nbsp;
</body>
</html>