<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 row">
	          <h2>Geschichte</h2>
	          <p>
	          	Herzlichen Glückwunsch. Sie scheinen geschichtsbegeistert zu sein und auf knochentrockene Texte zu stehen. Wir aber nicht.
	          	Das ist nur eine Seite mit ein bisschen Fließtext als Demo für einen Controller. Unser Laden existiert in Wirklichkeit gar nicht,
	          	da es nur eine ausgedachte Aufgabe ist. Aber wir wollten etwas Leben in die Anwendung bringen. Also gibt es diese Geschichtsseite.
	          	Viel Spaß beim Erkunden der restlichen Anwendung. Sie werden jetzt fast nur noch Seiten finden, auf denen Erfüllungen von Aufgaben zu finden sind.
	          </p>
	          <p>
	          	&nbsp;
	          </p>
	          <p>
	          	Mit freundlichen Grüßen
	          </p>
	          <p>
	          	Operator
	          </p>
	          <!-- 
	          	GLÜCKWUNSCH - SIE HABEN JETZT AUCH DAS EASTEREGG DIESER ANWENDUNG GEFUNDEN. VOR IHNEN KANN MAN ABER AUCH GAR NICHTS VERSTECKEN. NUN DENN VIEL SPAẞ BEIM LESEN.
	          <p>
	          	Gestartet hat diesen Laden damals Wilfried Lichwichsen. Er dachte sich 1828: "Fuck, warum gibt es in diesem Kaff eigentlich keinen Buchladen."
	          	Leider musste Wilfried ziemlich schnell erkennen, das die Leute einfach zu dämlich zum lesen waren. Deswegen lohnte sich dieser Laden eigentlich absolut gar nicht.
	          	Wilfried dachte dich aber: "Don't care! Keine Koitusse werden gegeben." Also kratzte er seinen letzten Cash zusammen und erwarb eine Bruchbude.
	          	Als er sie Pimp my Bookshop mäßig aufgemöbelt hatte, versuchte er den Leuten das Lesen schmackhaft zu machen. Diese waren aber zu ignorant für guten OC.
	          	"LOL. Too long, didn't read.", war die Antwort die Wilfried meistens bekam. Als eines Nachts tl;dr an seine Schaufenster geschmiert wurde, wurde er zum Berserker.
	          	"Wenn die dreckigen Kinder einer Hafenhure nicht bald Lesen lernt, gibt's hier bald Facebook. Wisst ihr, wie schlecht so ein Buch aus dem Gesicht eitert?".
	          	Einige Ignoranten schrien nun: "Ja. OC Gore. Verdient." Doch auch diese Stimmen sollten unter den drohenden Blick des Denglers verstummen. Trotzdem mussten Taten folgen
	          	Da die Bewohner ziemlich beindruckt waren, nachdem sie sahen, was OC Gore ausmacht, lernten sie nun doch lesen. Vor allem tat sich ein gewisser Christian Harten hervor.
	          	Dieser wollte einen Job und bewarb sich als Gehilfe bei Wilfried. Das gefiel und Christian bekam Massen an Upvotes für seine Bewerbung. Aber es gab auch schwarze Schafe.
	          	Nachdem Kevin als Demonstration für Facebook gedient hatte, wollte Falk der Hurensohn sich nun rächen. Also Stuhlte er in ein Paket und verschickte es an Herrn Lichwichsen.
	          	Da es dem Postboten stank, wurde es return to Sender weggepackt. Da Falk einfach nur strunzen dämlich war, packte er voller Freude über die Zustellung aus und langte voll in die Scheiße.
	          	Willfried bekam dies nur über Hören Sagen mit und sprach zu jedem der ih davon erzählte: "Bildnisse oder es geschah nie."
	          </p>
	          <p>
	          	Nachdem der ein paar Jahre vergangen waren und der Laden richtig brummte, viel einigen Fließentischbesitzern auf, das er Name Willfried Lichwichsen ja lustik sei.
	          	Also musste eine Lösung dafür her. Der Ururururururururururgroßenkel von Willfried suchte als nach einem freshen Namen, für einen Buchladen. Da er nicht gerade die hellste Leuchte in der Kette war,
	          	holte er sich Hilfe im Internet. Die Trolle von <a href="https://www.4chan.org" target="_blank">4Chan</a> halfen leider nicht viel. Von dieser Seite kamen nur Vorschläge wie: Wilma Randa,
	          	Anne Wandnageln, Marco Rahlsächs, Mike Litores, Ryan Lunzen, Gernhart Reinholzen und Lasse Samstrøm. Also suchte er weiter und fand Hilfe auf 9Fag. Die waren der Meinung,
	          	das Schiller aufgrund seiner Werke eine ziemlich gute Idee war. Also entstand der Name Schiller.
	          </p>
	          <p>
	          	TO BE CONTINUED
	          </p> -->
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
