<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	          <h2>Willkommen auf der Website der Buchhandlung Schiller!</h2>
	        	<div class="large-12">&nbsp;</div>
	          <div class="row full-width">
	          	<fieldset th:each="promo : ${promo}" class="large-5 medium-5 small-12 columns promo-box">
	          		<legend>Heute vorgestellt:</legend>
	          		<h3 class="article-head large-12 medium-12 small-12">
	          			<a th:text="${promo.name}" th:href="@{'/detail/' + ${promo.identifier}}" href="detail.html">Bastard Operator from Hell</a> 
	          			<br />
	          			<small th:text="${promo.artist}">Simon Travaglia</small>
	          		</h3>
	          		<div class="large-6 medium-6 small-12 columns">
	          			<a th:href="@{'/detail/' + ${promo.identifier}}" href="detail.html">
		          			<img alt="cover" class="cover" th:src="@{'/resources/img/' + ${promo.image}}" src="/resources/img/notAvaliableBook.jpg" />
		          		</a>
			          	<form action="/cart" method="POST">
										<input type="hidden" name="article" value="0" th:value="${promo.identifier}" />
										<label>Preis: <span th:text="${promo.price.amount}"> </span><i class="fi-euro"></i></label>
										<input id="number" type="hidden" name="number" th:value="1" />
										<input class="button tiny round" type="submit" value="In den Warenkorb"/>
									</form>
								</div>
								<fieldset class="large-5 medium-5 small-12 columns">
									<legend>Beschreibung</legend>
									<p th:text="${promo.beschreibung}"></p>
								</fieldset>
	          	</fieldset>
	          	<div th:each="article : ${random}" class="large-2 medium-4 small-12 columns article-box">
	          		<div class="large-centered">
		          		<h6 class="article-head">
		          			<a th:text="${article.name}" th:href="@{'/detail/' + ${article.identifier}}" href="detail.html">Bastard Operator from Hell</a>
		          			<br />
		          			<small th:text="${article.artist}">Simon Travaglia</small>
		          		</h6>
	          			<a th:href="@{'/detail/' + ${article.identifier}}" href="detail.html">
		          			<img alt="cover" class="cover" th:src="@{'/resources/img/' + ${article.image}}" src="/resources/img/no-cover.jpg" />
		          		</a>
			          	<form action="/cart" method="POST">
										<input type="hidden" name="article" value="0" th:value="${article.identifier}" />
										<label>Preis: <span th:text="${article.price.amount}"> </span><i class="fi-euro"></i></label>
										<input id="number" type="hidden" name="number" th:value="1" />
										<input class="button tiny round" type="submit" value="In den Warenkorb"/>
									</form>
								</div>
	          	</div>
	          </div>
	          <div class="row full-width">&nbsp;</div>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
