<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	          <h3>Bestellübersicht</h3>
	          <table>
							<caption th:text="#{orders.myorders}"></caption>
							<thead>
								<tr>
									<th th:text="#{orders.status}">Status</th>
									<th th:text="#{orders.date}">Datum</th>
									<th th:text="#{orders.payed}">Bezahlt</th>								
								</tr>
							</thead>
							<tbody>
									<tr th:each="order : ${myOrders}">
											<td th:unless="${order.paid}" th:text="${order.orderStatus}"></td>
											<td th:unless="${order.paid}" th:text="${order.dateCreated}"></td>
											<td th:unless="${order.paid}" th:text="${order.totalPrice}"></td>
											<td th:if="${order.open}">
												<form class="salespoint" method="POST" action="/order/cancel">
												  <input type="hidden" name="orderDelete" value="0" th:value="${order.identifier}"/>
													<input class="button" type="submit" value="Stornieren"/> 
												</form>
											</td>
											<td th:unless="${order.paid}">
												<form class="salespoint" method="POST" action="/order/detail">
												  <input type="hidden" name="orderdetail" value="0" th:value="${order.identifier}"/>
													<input class="button" type="submit" value="Detailansicht"/> 
												</form>
											</td>	
									</tr>
							</tbody>
						</table>
						<table>
							<caption th:text="#{orders.myreservations}"></caption>
							<thead>
								<tr>
									<th th:text="#{orders.date}">Datum</th>								
								</tr>
							</thead>
							<tbody>
									<tr th:each="order : ${myOrders}">
											<td th:if="${order.paid}" th:text="${order.dateCreated}"></td>			
											<td th:if="${order.paid}">
												<form class="salespoint" method="POST" action="/order/detailreservation">
												  <input type="hidden" name="orderdetail" value="0" th:value="${order.identifier}"/>
													<input class="button" type="submit" value="Detailansicht"/> 
												</form>
											</td>
									</tr>
							</tbody>
						</table>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>