<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	          <h3>Bestellübersicht</h3>
	          <table>
							<caption th:text="#{orders.myorders}"></caption>
							<thead>
								<tr>
									<th th:text="#{orders.status}">Datum</th>
									<th th:text="#{orders.date}">Datum</th>
									<th th:text="#{orders.payed}">Bezahlt</th>								
								</tr>
							</thead>
							<tbody>
									<tr th:each="order : ${myOrders} ">
										<td th:text="${order.orderStatus}"></td>
										<td th:text="${order.dateCreated}"></td>
										<td th:text="${order.totalPrice}"></td>
	
										<div th:if="${order.open}">
											<td>
												<form class="salespoint" method="POST" action="/order/cancel">
												  <input type="hidden" name="orderDelete" value="0" th:value="${order.identifier}"/>
													<input class="button" type="submit" value="Cancel"/> 
												</form>
											</td>											
										</div>
										<td>
											<form method="GET" action="/order/PDF">
											  
												<input class="button" type="submit" value="Rechnung"/> 
											</form>
										</td>
										<td>
											<form class="salespoint" method="POST" action="/order/detail">
											  <input type="hidden" name="orderdetail" value="0" th:value="${order.identifier}"/>
												<input class="button" type="submit" value="Detail"/> 
											</form>
										</td>
									</tr>
									<a href="fcdf0bc6-0d66-4972-8ae1-5b238e817771.pdf">PDF</a>
								<!--	<a href="./24074d38-7ff5-4a76-8c39-369f922eff3d.pdf" >Download the pdf</a>
									<a href="file:///D:\SWT\Workspace\bookshop-schiller\src\main\resources\orders\24074d38-7ff5-4a76-8c39-369f922eff3d.pdf" target="_blank">Link 1</a>
								-->	
								<h3><a href="downloadPDF">Download PDF Document</a></h3>
							</tbody>
						</table>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>