<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
<body>
	<nav th:fragment="navigation">
	
		<ul class="off-canvas-list">
		  <li>
		    <a href="/">
		      <label>
		        Schiller
		      </label>
		    </a>
		  </li>
 			<li>
		    <a th:href="@{/article}" href="articles.html">
		      Alle Artikel                 
		    </a>
		  </li>
 			<li>
		    <a th:href="@{/article/book}" href="articles.html">
		      Bücher                  
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/article/cd}" href="articles.html">
		      CDs                  
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/article/dvd}" href="articles.html">
		      DVDs                  
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/calendar}" href="calendar.html">
		      Kalender
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/history}" href="history.html">
		      Geschichte
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/contact}" href="contact.html">
		      Kontakt
		    </a>
		  </li>
		  <li class="hide-for-large-up" sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_USERMANAGER')" >
		  	<label>Administration</label>
		  </li>
   		<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_USERMANAGER')" class="has-submenu hide-for-large-up">
   			<a href="#">Nützliche Links</a>
   			<ul class="left-submenu">
   				<li class="back">
   					<a href="#">Zurück</a>
   				</li>
   				<li>
   					<a th:href="@{/admin/statictics}" href="statistics.html">Statistik</a>
   				</li>
   				<li>
   					<a th:href="@{/admin/orders}" href="order.html">Bestellungen</a>
   				</li>
   				<li>
   					<a th:href="@{/admin/stock}" href="stock.html">Lager</a>
   				</li>
   			</ul>
   		</li>
   		<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_USERMANAGER')" class="has-submenu hide-for-large-up">
   			<a href="#">Artikel Management</a>
   			<ul class="left-submenu">
   				<li class="back">
   					<a href="#">Zurück</a>
   				</li>
   				<li>
   					<a th:href="@{/article/book/add}" href="addbook.html">Neues Buch</a>
   				</li>
   				<li>
   					<a th:href="@{/article/cd/add}" href="addcd.html">Neue CD</a>
   				</li>
   				<li>
   					<a th:href="@{/article/dvd/add}" href="adddvd.html">Neue DVD</a>
   				</li>
   			</ul>
   		</li>
   		<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_USERMANAGER')" class="has-submenu hide-for-large-up">
   			<a href="#">Nutzer Management</a>
   			<ul class="left-submenu">
   				<li class="back">
   					<a href="#">Zurück</a>
   				</li>
   				<li>
   					<a th:href="@{/admin/customers}" href="customers.html">Kunden</a>
   				</li>
   				<li>
   					<a th:href="@{/admin/employees}" href="employees.html">Angestellte</a>
   				</li>
   				<li>
   					<a th:href="@{/admin/register/customer}" href="registercustomer.html">Neuer Kunde</a>
   				</li>
   				<li>
   					<a th:href="@{/admin/register/employee}" href="registeremployee.html">Neuer Mitarbeiter</a>
   				</li>
   			</ul>
   		</li>
   		<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_USERMANAGER')" class="has-submenu hide-for-large-up">
   			<a href="#">Event Management</a>
   			<ul class="left-submenu">
   				<li class="back">
   					<a href="#">Zurück</a>
   				</li>
   				<li>
   					<a th:href="@{/admin/event/add}" href="addEvent.html">Neues Event</a>
   				</li>
   				<li>
   					<a th:href="@{/admin/room/add}" href="addRoom.html">Neuer Raum</a>
   				</li>
   			</ul>
   		</li>
   		<li class="hide-for-large-up">
   			<label>Account</label>
   		</li>
   		<li class="hide-for-large-up" sec:authorize="hasAnyRole('ROLE_CUSTOMER')">
    			<a th:href="@{/user/order}" href="myorders.html"><i class="fi-shopping-bag"></i> Bestellungen</a>
    	</li>
    	<li class="hide-for-large-up" sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE')">
    		<a th:href="@{/cart}" href="cart.html"><i class="fi-shopping-cart"></i> Warenkorb</a>
    	</li>
    	<li class="hide-for-large-up" sec:authorize="hasAnyRole('ROLE_CUSTOMER','ROLE_EMPLOYEE')">
    		<a th:href="@{/user}" href="profile.html"><i class="fi-torso"></i> Profil</a>
    	</li>
   		<li class="hide-for-large-up" sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE','ROLE_CUSTOMER')">
   			<a class="round button" th:href="@{/user/register}" href="register.html">Registrieren</a>
   		</li>
   		<li class="hide-for-large-up" sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE','ROLE_CUSTOMER')">
   			<a class="round secondary button" th:href="@{/user/login}" href="login.html">Login</a>
   		</li>
   		<li class="hide-for-large-up" sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE','ROLE_CUSTOMER')">
   			<a  class="round secondary button" th:href="@{/logout}" href="logout.html">Logout</a>
   		</li>
		</ul>
	</nav>
</body>
</html>