<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	</head>
<body>
	<nav th:fragment="navigation">
	
		<ul class="off-canvas-list">
		  <li>
		    <a href="/">
		      <label>
		        Schiller
		      </label>
		    </a>
		  </li>
		  <li>
		    <a href="history">
		      Firmengeschichte
		    </a>
		  </li>
		  <li>
		    <a href="contact">
		      Kontakt
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/calendar}" href="calendar.html">
		      Kalender
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/books}" href="books.html">
		      Bücher                  
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/cd}" href="cd.html">
		      CD                  
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/dvd}" href="dvd.html">
		      DVD                  
		    </a>
		  </li>
		</ul>
	</nav>
</body>
</html>