<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
<body>
	<nav th:fragment="navigation">
	
		<ul class="off-canvas-list">
		  <li>
		    <a href="/">
		      <label>
		        Schiller
		      </label>
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/articles}" href="articles.html">
		      Artikel                 
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/books}" href="books.html">
		      Bücher                  
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/cds}" href="cds.html">
		      CD                  
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/dvds}" href="dvds.html">
		      DVD                  
		    </a>
		  </li>
		  <li>
		    <a th:href="@{/calendar}" href="calendar.html">
		      Kalender
		    </a>
		  </li>
		  <li>
		    <a href="history">
		      Firmengeschichte
		    </a>
		  </li>
		  <li>
		    <a href="contact">
		      Kontakt
		    </a>
		  </li>
		</ul>
	</nav>
</body>
</html>