<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	          <h3>Bestellübersicht</h3>
	          <table class="large-6 medium-6 small-12 columns">
							<caption th:text="#{orders.open}"></caption>
							<thead>
								<tr>
									<th class="small-3" th:text="#{orders.date}">Datum</th>
									<th class="small-3" th:text="#{orders.customer}">Kunde</th>
									<th class="small-3" th:text="#{orders.payed}">Bezahlt</th>
									<th class="small-3">Quicklinks</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order : ${ordersOpen} ">
									<td th:text="${order.orderStatus}"></td>
									<td th:text="${order.dateCreated}"></td>
									<td th:text="${order.totalPrice}"></td>
										<td>
											<form class="salespoint" method="POST" action="/order/complete">
											  <input type="hidden" name="orderComplete" value="0" th:value="${order.identifier}"/>
												<input class="button" type="submit" value="Complete"/> 
											</form>
										</td>											
									<td>
										<form method="POST" action="/order/detail">
										  <input type="hidden" name="orderdetail" value="0" th:value="${order.identifier}"/>
											<input class="button" type="submit" value="Detail"/> 
										</form>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="large-6 medium-6 small-12 columns">
							<caption th:text="#{orders.completed}"></caption>
							<thead>
								<tr>
									<th class="small-3" th:text="#{orders.date}">Datum</th>
									<th class="small-3" th:text="#{orders.customer}">Kunde</th>
									<th class="small-3" th:text="#{orders.payed}">Bezahlt</th>
									<th class="small-3">Quicklinks</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order : ${ordersCompleted} ">
									<td th:text="${order.dateCreated}" ></td>
									<td th:text="${order.userAccount.identifier}"></td>
									<td th:text="${order.totalPrice}"></td>
									<td>
										<form method="POST" action="/order/detail">
										  <input type="hidden" name="orderdetail" value="0" th:value="${order.identifier}"/>
											<input class="button" type="submit" value="Detail"/> 
										</form>
									</td>								
								</tr>
							</tbody>
						</table>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>