<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/resources/css/foundation.css" />
	  <link rel="stylesheet" type="text/css" href="/resources/css/normalize.css" />
	  <link rel="stylesheet" type="text/css" href="/resources/css/slick.css" />
	  <!-- <link rel="stylesheet" type="text/css" href="/include/misc/php-calendar/css/style.css" /> -->
	  <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
    
    <script type="text/javascript" src="/resources/js/vendor/modernizr.js"></script>
		
		<title th:text="#{home.title}">Buchhandlung Schiller</title>
	
	</head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	          <h2>Bestellübersicht</h2>
	          <table>
							<caption th:text="#{orders.completed}"></caption>
							<thead>
								<tr>
									<th th:text="#{orders.date}">Datum</th>
									<th th:text="#{orders.customer}">Kunde</th>
									<th th:text="#{orders.payed}">Bezahlt</th>
								</tr>
							</thead>
							<tbody>
									<tr th:each="order : ${ordersCompleted} ">
										<td th:text="${order.dateCreated}" ></td>
										<td th:text="${order.userAccount.identifier}"></td>
										<td th:text="${order.totalPrice}"></td>
									</tr>
							</tbody>
						</table>
	        </div>
	    	</div>
	    </div>
		</div>
	  <script type="text/javascript" src="/resources/js/vendor/jquery.js"></script>
	  <script type="text/javascript" src="/resources/js/vendor/fastclick.js"></script>
	  <script type="text/javascript" src="/resources/js/foundation.min.js"></script>
	  <script type="text/javascript" src="/resources/js/vendor/slick.min.js"></script>
	  <script type="text/javascript">
	    $(document).foundation(
	      {
	        accordion: {
	          content_class: 'content',
	          active_class: 'active',
	          toggleable: true
	        }
	      }
	    );
	  </script>
	  <script type="text/javascript">  
	    $(document).ready(function(){
	      $('.header-slider').slick({
	        dots: true,
	        infinite: true,
	        lazyLoad: 'ondemand',
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        autoplay: true,
	        autoplaySpeed: 3000,
	      });
	    });
	  </script>
	</body>
</html>