<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	          <h3>Bestellübersicht</h3>
	          <table>
							<caption th:text="#{orders.detail}"></caption>
							<thead>
								<tr>
									<th th:text="#{statistics.article}">Artikel</th>
									<th th:text="#{orders.quantity}">Anzahl</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="orderline : ${detailorders}">
									<td th:text="${orderline.productName}" ></td>
									<td th:text="${orderline.quantity}"></td>
								</tr>
							</tbody>
						</table>
						<a class="small button" target="_blank" href="/" th:href="@{'/resources/static/orders/' + ${detailordersID} + '.pdf'">PDF</a>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
