<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>

	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	          <div class="large-3 columns">
  						<img alt="cover" class="cover" /><!-- src="../resources/img/cover/lac.jpg" th:src="@{'/resources/img/cover/' + ${book.image} + '.jpg'}" -->
						</div>
						<div class="large-9 medium-9 small-9 columns">
							<ul class="pricing-table">
					      <li class="title">
					      	<span th:text="${user.userAccount.identifier}">maxmuster</span>
					      </li>
					      <li class="bullet-item">
					      	<label>Vorname:</label><span th:text="${user.userAccount.firstname}">Max</span>
					      </li>
					      <li class="bullet-item">
					      	<label>Nachname:</label><span th:text="${user.userAccount.lastname}">Mustermann</span>
					      </li>
					      <li class="bullet-item">
					      	<label>E-Mail-Adresse:</label><span th:text="${user.userAccount.email}">max.mustermann@e-mail.de</span>
					      </li>
					      <li class="bullet-item">
					      	<label>Adresse:</label><span th:text="${user.address}">Musterstraße 1, 00000 Musterstadt</span>
					      </li>
					      <div class="salespoint" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_BOSS') || hasRole('ROLE_USERMANAGER')">
					      	<li class="bullet-item">
					      		<label>Rollen:</label><span th:text="${user.roles}">Musterrolle</span>
					      		<form action="/user/profile/roles/add" method="POST">
											<input class="button round" type="submit" value="Rolle hinzufügen" />
										</form>
										<form action="/user/profile/roles/remove" method="POST">
											<input class="button round" type="submit" value="Rolle entfernen" />
										</form>
					      	</li>
					      	<li class="bullet-item">
					      		<label>Status:</label><span th:text="${user.state}">Musterstatus</span>
					      		<form action="/user/profile/state/disable" method="POST">
											<input class="button round" type="submit" value="Profil deaktivieren" />
										</form>
										<form action="/user/profile/state/enable" method="POST">
											<input class="button round" type="submit" value="Profil aktivieren" />
										</form>
					      	</li>
					      </div>
					    </ul>
					    <div class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
								<form action="/user/profile/change" method="POST">
									<input class="button round" type="submit" value="Änderung persönlicher Daten" />
								</form>
							</div>
					  </div>
	        </div>
	    	</div>
	    </div>
<!-- branch -->
		</div>
	  <script type="text/javascript" src="/resources/js/vendor/jquery.js"></script>
	  <script type="text/javascript" src="/resources/js/vendor/fastclick.js"></script>
	  <script type="text/javascript" src="/resources/js/foundation.min.js"></script>
	  <script type="text/javascript" src="/resources/js/vendor/slick.min.js"></script>
	  <script type="text/javascript">
	    $(document).foundation(
	      {
	        accordion: {
	          content_class: 'content',
	          active_class: 'active',
	          toggleable: true
	        }
	      }
	    );
	  </script>
	  <script type="text/javascript">  
	    $(document).ready(function(){
	      $('.header-slider').slick({
	        dots: true,
	        infinite: true,
	        lazyLoad: 'ondemand',
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        autoplay: true,
	        autoplaySpeed: 3000,
	      });
	    });
	  </script>
	</body>
</html>
