<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
	<body>
		<div th:fragment="profiletabs">
	  	<a class="tiny button" th:href="@{'/user/profile/' + ${user.userAccount.identifier}" href="detail.html">Profilansicht</a>
	 		<a class="tiny button" th:href="@{'/user/profile/' + ${user.userAccount.identifier} + '/change'}" href="editprofile.html">Profildaten ändern</a>
	   	<a class="tiny button" th:href="@{'/user/profile/' + ${user.userAccount.identifier} + '/roles'}" href="editaccountsettings.html">Accounteinstellungen ändern</a>
		</div>
	</body>
</html>