<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
	<body>
		<div th:fragment="profiletabs">
	  	<a sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_USERMANAGER')" class="tiny button" th:href="@{'/user/profile/' + ${user.userAccount.identifier}}" href="profile.html">Profilansicht</a>
	 		<a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USERMANAGER')" class="tiny button" th:href="@{'/user/profile/' + ${user.userAccount.identifier} + '/change'}" href="editprofile.html">Profildaten ändern</a>
	   	<a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USERMANAGER')" class="tiny button" th:href="@{'/user/profile/' + ${user.userAccount.identifier} + '/accountsettings'}" href="editaccountsettings.html">Accounteinstellungen ändern</a>
		</div>
	</body>
</html>