<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>

	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	        	<h3 th:text="@{'Profil von ' + ${user.userAccount.firstname} + ' ' + ${user.userAccount.lastname}}">Profil von Nutzer</h3>
	        	<div class="row" th:include="profiletabs :: profiletabs"></div>
	          <div class="large-3 medium-3 hide-for-small columns">
  						<img alt="cover" class="detail cover" src="/resources/img/user/trollface_avatar.png" />
						</div>
						<div class="large-9 medium-9 small-12 columns">
							<h1 class="panel" th:text="${user.userAccount.identifier}">DUDE</h1>
							<p>
								<label>Name:</label>
								<span th:text="${user.userAccount.firstname}"></span> <span th:text="${user.userAccount.lastname}"></span>
							</p>
							<p>
								<label>Adresse:</label>
								<span th:text="${user.address}"></span>
							</p>
							<p>
								<label>E-Mail:</label>
								<span th:text="${user.userAccount.email}"></span>
							</p>
							<div class="panel row full-width" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_BOSS') || hasRole('ROLE_USERMANAGER')">
								<p class="large-6 medium-6 small-12 columns">
									<label>Rollen:</label>
									<span th:text="${user.roles}">Musterrolle</span>
								</p>
								<p class="large-6 medium-6 small-12 columns">
									<label>Status:</label>
									<span th:text="${user.state}">Musterstatus</span>
								</p>
							</div>
					  </div>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
