<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 row">
	          <h3>Reservierungen</h3>
						<table class="large-6 medium-6 small-12 columns">
							<thead>
								<tr>
									<th class="small-6">Name</th>
									<th class="small-6">Anzahl</th>
								</tr>
							</thead>
							<tbody>
									<tr th:each=" order : ${reservation}">
										<td th:text="${order.userAccount.identifier}">Last Action Hero</td>
										<td th:test="${order.quantity.amount}">10</td>
									</tr>																
							</tbody>
						</table>					
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>