<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
<body>
<div class="header-slider row" th:fragment="slider">
  <div>
    <div class="slider-item">
    	<img class="slider-picture small-4 columns" alt="friedrich-schiller-color" data-lazy="/resources/img/Friedrich_von_Schiller_Coloured_Drawing.png" />
    	<div class="panel small-4 columns">
    		<h2>Der Buchladen mit dem Güteversprechen</h2>
    		<small>Bei uns gibt es große Bücher, wie bei unserem Namensvetter.</small>
    		<a class="tiny round button small-12" href="/article">Hier geht's zur Auswahl</a>
    	</div>
    	<img class="slider-picture small-4 columns" alt="friedrich-schiller-color-portrait" data-lazy="/resources/img/Friedrich_Schiller_by_Ludovike_Simanowiz.jpg" />    	
    </div>
  </div>
  <div>
    <div>
    	<img class="slider-picture columns" alt="book-bindings" data-lazy="/resources/img/Old_book_bindings.jpg" />
    </div>
    <div class="orbit-caption columns">
      Bei uns gibt es große Bücher, wie bei unserem Namensvetter.
    </div>
  </div>
  <div>
    <div>
    	<img class="slider-picture columns" alt="timeless-books_books" data-lazy="/resources/img/timeless_books.jpg" />
    </div>
    <div class="orbit-caption columns">
      Die Auswahl reicht von zeitlosen Klassikern ...
    </div>
  </div>
  <div>
    <div>
    	<img class="slider-picture columns" alt="ian-fleming-books" data-lazy="/resources/img/Fleming's_paperback_Bonds.jpg" />
    </div>
    <div class="orbit-caption columns">
    	... bis zu den heißesten Neuerscheinungen
    </div>
  </div>
  <div>
    <div>
    	<img class="slider-picture columns" alt="colorful_books" data-lazy="/resources/img/colorful_books.jpg" />
    </div>
    <div class="orbit-caption columns">
      Für jeden Geschmack ist etwas dabei.
    </div>
  </div>
</div>
</body>
</html>