<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	</head>
<body>
<div th:fragment="slider" class="header-slider">
  <div>
    <!-- <img data-lazy="/img/Schiller.jpg" alt="slide 1" /> -->
    <div style="height: 200px">Image missing</div>
    <div class="orbit-caption">
      Bei uns gibt es große Bücher, wie bei unserem Namensvetter.
    </div>
  </div>
  <div>
    <!-- <img data-lazy="/img/Timeless_Books.jpg" alt="slide 2" /> -->
    <div style="height: 200px">Image missing</div>
    <div class="orbit-caption">
      Die Auswahl reicht von zeitlosen Klassikern ...
    </div>
  </div>
  <div>
    <!-- <img data-lazy="/img/Timeless_Books.jpg" alt="slide 2" /> -->
    <div style="height: 200px">Image missing</div>
    <div class="orbit-caption">
      ... bis zu den heißesten Neuerscheinungen
    </div>
  </div>
  <div>
    <!-- <img data-lazy="/img/Colorful_Books.jpg" alt="slide 3" /> -->
    <div style="height: 200px">Image missing</div>
    <div class="orbit-caption">
      Für jeden Geschmack ist etwas dabei.
    </div>
  </div>
</div>
</body>
</html>