<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
<body>
<div class="header-slider row" th:fragment="slider">
  <div>
    <div style="height: 200px">
    	<img alt="colorful_books" data-lazy="/resources/img/colorful_books.jpg" />
    </div>
    <div class="orbit-caption">
      Bei uns gibt es große Bücher, wie bei unserem Namensvetter.
    </div>
  </div>
  <div>
    <div style="height: 200px">
    	<img alt="colorful_books" data-lazy="/resources/img/timeless_books.jpg" />
    </div>
    <div class="orbit-caption">
      Die Auswahl reicht von zeitlosen Klassikern ...
    </div>
  </div>
  <div>
    <div style="height: 200px">
    	<img alt="colorful_books" data-lazy="/resources/img/colorful_books.jpg" />
    </div>
    <div class="orbit-caption">
      ... bis zu den heißesten Neuerscheinungen
    </div>
  </div>
  <div>
    <div style="height: 200px">
    	<img alt="colorful_books" data-lazy="/resources/img/timeless_books.jpg" />
    </div>
    <div class="orbit-caption">
      Für jeden Geschmack ist etwas dabei.
    </div>
  </div>
</div>
</body>
</html>