<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header>
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 columns">
	          <h3>Verkaufsbilanz</h3>
	          <!--
	          <table>
							<caption th:text="#{statistics.lastweek}"></caption>
							<thead>
								<tr>
									<th th:text="#{statistics.article}">Artikel</th>
									<th th:text="#{statistics.quantity}">Anzahl</th>
								</tr>
							</thead>
							<tbody>
									<tr th:each="orderline : ${ordersLastWeek} ">
										<td th:text="${orderline.productName}" ></td>
										<td th:text="${orderline.quantity}"></td>
									</tr>
							</tbody>
						</table> 
						-->
						<table>
							<thead>
								<tr>
									<th th:text="#{statistics.article}">Titel</th>
									<th th:text="#{statistics.sell}">Verkauft</th>
									<th th:text="#{statistics.income}"> Einnahmen</th>
									<th th:text="#{statistics.buy}">Gekauft</th>
									<th th:text="#{statistics.outcome}">Ausgaben</th>
								</tr>
							</thead>
							<tbody th:remove="all-but-first">
									<tr th:each=" orderline : ${statistic}">
										<td th:text="${orderline.productName}">Last Action Hero</td>
										<td th:text="${orderline.quantity.amount}">9000</td>
										<td th:text="${orderline.price}">10</td>
										<td>
										  <div class="salespoint" sec:authorize="hasRole('ROLE_EMPLOYEE')">
												<form method="post" action="/article/editinformation">
												<!-- <input type="hidden" name="article" th:value="${book.identifier}" />
													<input type="number" id="addquan" name="addquan" placeholder="Quantity to add" min="0" />
													<small class="alert-box alert error">Bitte hinzu zu fügende Menge eingeben.</small>
													<input class="small button" type="submit" value="Speichern" /> -->
												</form>
											</div>
							 	    </td>
									</tr>																	
							</tbody>
						</table>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>