<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="head :: head"></head>
	<body>
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="fixed" th:include="topbar :: topbar"></div>
	    <div class="inner-wrap">
	    	<aside class="left-off-canvas-menu" aria-hidden="true">
	    		<nav th:include="navigation :: navigation"></nav>
	    	</aside>
	    	<div class="main-content">
		    	<!-- <header class="large-12 medium-12 show-for-landscape show-for-medium-up">
		        <div class="panel">
		          <div class="header-slider row" th:include="slider :: slider"></div>
		        </div>
		      </header> -->
	        <div class="large-12">&nbsp;</div>
	        <div class="large-12 medium-12 small-12 row">
	          <h3>Inventar</h3>
	          <table>
							<thead>
								<tr>
									<th class="small-3" th:text="#{shoppingBasket.articleTitle}">Titel</th>
									<th class="small-3" th:text="#{shoppingBasket.count}">Anzahl</th>
									<th class="small-3" th:text="#{catalog.price}">Preis</th>
									<th class="small-3">Nachbestellen</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each=" item : ${stock}">
									<td th:text="${item.product.name}">Last Action Hero</td>
									<td th:text="${item.quantity.amount}">9000</td>
									<td th:text="${item.product.stockPrice}">10</td>
									<td>
									  <div class="salespoint" sec:authorize="hasRole('ROLE_EMPLOYEE')">
											<form method="post" action="/article/reorder" data-abide="">
												<input type="hidden"  id="article" name="article" th:value="${item.product.identifier}" />
												<div class="row collapse">
													<div class="small-4 columns">
														<input id="number" type="number" name="number" min="1" placeholder="Anzahl" required="required" />
													</div>
													<div class="small-8 columns">
														<input class="tiny button" type="submit" value="Nachbestellen" /> 
													</div>
												</div>
											</form>
										</div>
						 	    </td>
								</tr>																	
							</tbody>
						</table>
	        </div>
	    	</div>
	    </div>
		</div>
	</body>
</html>
