<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
<body>
<div th:fragment="topbar" class="fixed">
 <nav class="top-bar tab-bar" data-topbar="" role="navigation">
    <section class="top-bar-section">
    	<ul class="left">
    		<li>
		      <a class="left-off-canvas-toggle menu-icon" aria-expanded="false">
		        <span></span>
		      </a>
    		</li>
    		<li class="has-form">
		      <h2 class="title">
		        <a href="/" >Schiller</a>
		      </h2>
	      </li>
    		<li class="has-form show-for-large-up">
   				<form class="row collapse" method="get" action="/article/search">
   					<div class="large-3 medium-3 columns">
							<select name="typeInput">
								<option value="1">Titel</option>
								<option value="2">Verlag</option>
								<option value="3">ISBN</option>
								<option value="4">Artist</option>
								<option value="5">Kategorie</option>
							</select>
						</div>
   					<div class="large-5 medium-5 large-offset-1 medium-offset-1 columns">
							<input type="text" name="input" placeholder="Suche" />
   					</div>
   					<div class="large-3 medium-3 columns">
   						<input class="tiny alert button expand" type="submit" value="Los geht's!" />
   					</div>
					</form>
    		</li>
    	</ul>
    	<ul class="right show-for-large-up">
    		<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_SALESMANAGER')" class="divider"></li>
    		<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_SALESMANAGER')" class="has-dropdown not-click">
    			<a>Nützliche Links</a>
    			<ul class="dropdown">
    				<li>
    					<a th:href="@{/admin/statictics}" href="statistics.html">Statistiken</a>
    				</li>
    				<li>
    					<a th:href="@{/admin/orders}" href="order.html">Bestellungen</a>
    				</li>
    				<li>
    					<a th:href="@{/admin/stock}" href="stock.html">Lager</a>
    				</li>
    			</ul>
    		</li>
    		<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ARTICLEMANAGER')" class="divider"></li>
    		<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ARTICLEMANAGER')" class="has-dropdown not-click">
    			<a>Artikel Management</a>
    			<ul class="dropdown">
    				<li>
    					<a th:href="@{/article/book/add}" href="addbook.html">Neues Buch</a>
    				</li>
    				<li>
    					<a th:href="@{/article/cd/add}" href="addcd.html">Neue CD</a>
    				</li>
    				<li>
    					<a th:href="@{/article/dvd/add}" href="adddvd.html">Neue DVD</a>
    				</li>
    				<li>
    					<a th:href="@{/editcategories}" href="editcategories.html">Kategorien bearbeiten</a>
    				</li>
    			</ul>
    		</li>
    		<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_USERMANAGER')" class="divider"></li>
    		<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_USERMANAGER')" class="has-dropdown not-click">
    			<a>Nutzer Management</a>
    			<ul class="dropdown">
    				<li>
    					<a th:href="@{/admin/customers}" href="customers.html">Kunden</a>
    				</li>
    				<li>
    					<a th:href="@{/admin/employees}" href="employees.html">Angestellte</a>
    				</li>
    				<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USERMANAGER')">
    					<a th:href="@{/admin/user/add}" href="registeruser.html">Neuer Nutzer</a>
    				</li>
    			</ul>
    		</li>
    		<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EVENTMANAGER')" class="divider"></li>
    		<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EVENTMANAGER')" class="has-dropdown not-click">
    			<a>Event Management</a>
    			<ul class="dropdown">
    				<li>
    					<a th:href="@{/admin/event/add}" href="addEvent.html">Neues Event</a>
    				</li>
    				<li>
    					<a th:href="@{/admin/room/add}" href="addRoom.html">Neuer Raum</a>
    				</li>
    			</ul>
    		</li>
    		<li sec:authorize="hasAnyRole('ROLE_CUSTOMER')" class="divider"></li>
    		<li>
    			<a sec:authorize="hasAnyRole('ROLE_CUSTOMER')" th:href="@{/user/order}" href="myorders.html"><i class="fi-shopping-bag"></i></a>
    		</li>
    		<li sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE')" class="divider"></li>
    		<li sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE')">
    			<a th:href="@{/cart}" href="cart.html"><i class="fi-shopping-cart"></i></a>
    		</li>
    		<li sec:authorize="hasAnyRole('ROLE_CUSTOMER','ROLE_EMPLOYEE')" class="divider"></li>
    		<li>
    			<a sec:authorize="hasAnyRole('ROLE_CUSTOMER','ROLE_EMPLOYEE')" th:href="@{/user}" href="profile.html"><i class="fi-torso"></i></a>
    		</li>
    		<li sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE','ROLE_CUSTOMER')" class="divider"></li>
    		<li>
    			<a sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE','ROLE_CUSTOMER')" class="round button" th:href="@{/user/register}" href="register.html">Registrieren</a>
    		</li>
    		<li sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE','ROLE_CUSTOMER')" class="divider"></li>
    		<li>
    			<a sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE','ROLE_CUSTOMER')" class="round secondary button" th:href="@{/user/login}" href="login.html">Login</a>
    		</li>
    		<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE','ROLE_CUSTOMER')" class="divider"></li>
    		<li>
    			<a sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_ADMIN','ROLE_EMPLOYEE','ROLE_CUSTOMER')" class="round secondary button" th:href="@{/logout}" href="logout.html">Logout</a>
    		</li>
    	</ul>
    </section>
  </nav>
</div>
</body>
</html>